{% extends "auctions/layout.html" %}
{% block title %}Categories{% endblock title %}

{% block body %}
{% comment %} Keep the nav_bar {% endcomment %}
{{block.super}} 

<h1>Categories</h1>
<ul>
    {% for category in categories %}
    <li>
    <a href="{% url 'category_listings' category.id %}">{{ category.name }}</a>
    {% if category.listing_count == 0 %}
        (No Listings)
    {% else %}
        ({{ category.listing_count }} Listings{{ category.listing_count | pluralize }}) 
    {% endif %}
    </li>
    
    
    {% endfor %}

</ul>

{% endblock body %}