{% extends "auctions/layout.html" %}

{% block body %}
    {{ block.super }}
    <h2>Active Listings</h2>
    <br>
    <div style="display: flex;">
        <div style="flex: 1;">
            <ul style="list-style: none; padding: 0;">
                {% for listing in listings %}
                    <li style="margin-bottom: 20px;">
                        
                        {% comment %} <div style="display: flex; align-items: center;"> {% endcomment %}
                            {% if listing.image_url %}
                                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" style="max-width: 100px; margin-right: 20px;">
                            {% endif %}
                            
                            <div>
                                
                                <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                                    <small>
                                        <p>${{ listing.price }}</p>
                                    </small>
                                    
                            </div>
                            
                            <div>
                                {% comment %} <h3 style=>Details</h3> {% endcomment %}
                                <li >Listed by: {{ listing.created_by }}</li>
                                <li>Category: {{ listing.category }}</li>
                                <p>Created: {{ listing.created }}</p>
                                </div>
                        </div>
                    {% comment %} </li> {% endcomment %}
                        <hr>
                    
                    
                {% endfor %}
            </ul>
        </div>
    </div>
    
    
{% endblock %}
